In [1]:
print("HOPE AI")

HOPE AI

In [4]:
name=input("Enter your institute name?:")
print(name)

Enter your institute name?:HOPE AI
HOPE AI

In [5]:
name=input("enter your name:")
age=int(input("Enter your age:"))
school=input("Enter your school name:")
degree=input("Enter your degree:")
print(name)
print(age)
print(school)
print(degree)

enter your name:Raj
Enter your age:15
Enter your school name:Guru school
Enter your degree:B.E CSE
Raj
15
Guru school
B.E CSE

In [6]:
a=43
b=97
add=a+b
print("add=",add)

add= 140

In [8]:
a=43
b=97
sub=a-b
print("sub=",sub)

sub= -54

In [9]:
a=43
b=97
mul=a*b
print("mul=",mul)

mul= 4171

In [10]:
a=43
b=97
div=a/b
print("div=",div)

div= 0.44329896907216493

In [14]:
a=98
b=67
Floordiv=a//b
print("Floor div=",Floordiv)

Floor div= 1

In [15]:
a=98
b=67
Modulo=a%b
print("Modulo=",Modulo)

Modulo= 31

In [18]:
a=5
b=4
Power=a**b
print("Power=",Power)

Power= 625